body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--background-color-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #232f3e;
  --second-color: #febd69;
  --background-color-1: #f8f8f8;
  --green-1:#0dc253 ;
  --orange-1: #ffa900;
  --blue-1: #2AA3FF;
  --primary-title:#005652;
  --header-height: 65px;
  --footer-height: 75px;
  --title-height: 60px;
}
